
code {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 90%;
  line-height: 1.45;
  border-radius: 5px;
}


.sourceCode.r  {
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 95%;
  background-color: #f6f8fa;
}


.sourceCode.r.small  {
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 55%;
  background-color: #f6f8fa;
}


.sourceCode.c  {
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 95%;
  background-color: #f6f8fa;
}

red {
  color: firebrick;
  font-weight: bold;
}

grn {
  color: darkgreen;
  font-weight: bold;
}

.notebox {
  padding: 1em;
  background: LightGray;
  color: black;
  border: 2px black;
  border-radius: 10px;
}

.center {
  text-align: center;
}


